.user-side-box
  %nav.user-side-box__side-list
    %ul.user-side-box__side-list__main-box 
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              マイページ
            .list-box__arrow
              >
      = link_to root_path do
        %li
          %div.list-box
            .list-box__name
              お知らせ
            .list-box__arrow
              >

      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              やることリスト
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              いいね！一覧
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              出品する
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              出品した商品 - 出品中
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              出品した商品 - 売却済み
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              出品した商品 - 取引中
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              購入した商品 - 取引中
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              購入した商品 - 過去の取引
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              ニュース一覧
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              評価一覧
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              ガイド
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              お問い合わせ
            .list-box__arrow
              >
          
    %ul.user-side-box__side-list__merpay-box
      メルペイ
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              売上・振込申請
            .list-box__arrow
              >
          
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              ポイント
            .list-box__arrow
              >
          
    %ul.user-side-box__side-list__setting-box
      設定
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              プロフィール
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              発送元・お届け先住所変更
            .list-box__arrow
              >
      = link_to card_index_users_path do
        %li
          %div.list-box
            .list-box__name
              支払い方法
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              メール/パスワード
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              本人情報
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              電話番号の確認
            .list-box__arrow
              >
      = link_to users_path do
        %li
          %div.list-box
            .list-box__name
              ログアウト
            .list-box__arrow
              >