.logout-wrapper
  = render "items/header"
  .wrapper
    .userpage-main
      = render "side-list"
      .logout-main__right
        .logout-box
          = link_to '/users/sign_out', method: :delete do
            ログアウト
          = hidden_field_tag(name: "", value: "")  
  .app-info
  = render "items/sell-icon"
  = render "items/footer"