-# -binding.pry
.credit-wrapper
  .credit-top
    %h2.credit-top__upper 支払い方法
    .credit-top__main
      .credit-top__main__title 
        クレジットカード一覧
        -if current_user.credits.present?
          -credit_informations.each do |credit_information|
            - card = Credit.find_by(card_id: credit_information.id)
            -# -binding.pry
            .credit_box
              = render partial: '/shared/card_informations', locals: {card_information: credit_information, card: card}
      .credit-top__main__card-add
        = link_to card_registrations_users_path ,class:'credit-top__main__card-add__btn btn-red btn-default', data:{"turbolinks" => false} do
          = icon('fas', 'credit-card',  class: "icon-card")
          クレジットカードを追加する
      = link_to root_path,class:'credit-top__main__link-guide' do
        支払い方法について
        = icon('fas', 'chevron-right',  class: "credit-top__main__link-guide__icon")