.credit-wrapper
  .credit-top
    %h2.credit-top__upper 支払い方法
    .credit-top__main
      .credit-top__main__title 
        クレジットカード一覧
        %p 
          = "**** **** **** " + credit_information.last4 
        %p 
          - exp_month = @credit_information.exp_month.to_s
          - exp_year = @credit_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
          %i.fab.fa-cc-visa.blue
      .credit-top__main__card-add
        = link_to card_registrations_users_path ,class:'credit-top__main__card-add__btn btn-red btn-default', data:{"turbolinks" => false} do
          = icon('fas', 'credit-card',  class: "icon-card")
          クレジットカードを追加する
      = link_to root_path,class:'credit-top__main__link-guide' do
        支払い方法について
        = icon('fas', 'chevron-right',  class: "credit-top__main__link-guide__icon")