.detail-main__related-products__brand__images-box__item
  = link_to item_path(id:category_item.id) do
    .detail-main__related-products__brand__images-box__item--photo
      %img{src:"#{category_item.images.first.image.url}", alt: 'photo', height: '220px', width: '220px', class: '.detail-main__related-products__brand__images-box__item--photo--1'}
    .detail-main__related-products__brand__images-box__item--body
      %h3 #{category_item.name}
      .detail-main__related-products__brand__images-box__item--body--info
        .detail-main__related-products__brand__images-box__item--body--info--price
          %span #{category_item.price}
        .detail-main__related-products__brand__images-box__item--body--info--like
          %i.far.fa-heart.grey
          %span #{category_item.likes.count}