
.footer__upper
  .footer__upper--list
    %h2.list-title メルカリについて
    %ul.footer__upper--list__about
      %li.list-item
        =link_to root_path, class:'list-item' do
          会社概要（運営会社）
      %li.list-item
        =link_to root_path, class:'list-item' do
          採用情報
      %li.list-item
        =link_to root_path, class:'list-item' do
          プレスリリース        
      %li.list-item
        =link_to root_path, class:'list-item' do
          公式ブログ        
      %li.list-item
        =link_to root_path, class:'list-item' do
          メルカリロゴ利用ガイドライン
      .icons
        = link_to root_path do
          = icon('fab', 'twitter',  class: "icons__twitter icon")
        = link_to root_path do
          = icon('fab', 'facebook-square',  class: "icons__facebook icon")

  .footer__upper--list
    %h2.list-title ヘルプ＆ガイド
    %ul.footer__upper--list__help
      %li.list-item
        =link_to root_path, class:'list-item' do
          メルカリガイド
      %li.list-item
        =link_to root_path, class:'list-item' do
          らくらくメルカリ便
      %li.list-item
        =link_to root_path, class:'list-item' do
          ゆうゆうメルカリ便       
      %li.list-item
        =link_to root_path, class:'list-item' do
          大型メルカリ便       
      %li.list-item
        =link_to root_path, class:'list-item' do
          車体取引ガイド
      %li.list-item
        =link_to root_path, class:'list-item' do
          メルカリあんしん・あんぜん宣言！        
      %li.list-item
        =link_to root_path, class:'list-item' do
          偽ブランド品撲滅への取り組み      
      %li.list-item
        =link_to root_path, class:'list-item' do
          メルカリボックス

  .footer__upper--list.privacy
    %h2.list-title プライバシーと利用規則
    %ul.footer__upper--list__privacy
      %li.list-item
        =link_to root_path, class:'list-item' do
          プライバシーポリシー
      %li.list-item
        =link_to root_path, class:'list-item' do
          メルカリ利用規約
      %li.list-item
        =link_to root_path, class:'list-item' do
          あんしんスマホサポート制度に関する利用特約       
      %li.list-item
        =link_to root_path, class:'list-item' do
          コンプライアンスポリシー

    %ul.footer__upper--list__privacy     
      %li.list-item
        =link_to root_path, class:'list-item' do
          個人データの安全管理に係る基本方針
      %li.list-item
        =link_to root_path, class:'list-item' do
          特定商取引に関する表記        
      %li.list-item
        =link_to root_path, class:'list-item' do
          資金決済法に基づく表示      
      %li.list-item
        =link_to root_path, class:'list-item' do
          法令順守と犯罪防止のために

  .footer__upper--list
    %h2.list-title 国
    %ul.footer-wrapper__upper--list__country
      %li.list-item
        =link_to root_path, class:'list-item' do
          日本      
      %li.list-item
        =link_to root_path, class:'list-item' do
          United States

.footer__bottom
  = link_to root_path do
    = image_tag 'fmarket_logo_white.svg', alt: 'mercari', height: '33px', width: '124px',class:'footer__bottom--icon'

  %span.footer__bottom--copyright © 2019 Mercari



